extends layout.pug

block header
    include header

block content   
    .container-fuild                          
        .row.mt-4
            div(class='col-sm-12 col-md-5 offset-md-1')
                h3.mt-3 Añadir nuevo Scooter
                form(action='' method='post')
                    if serverMsg
                        if serverMsg.message
                            label(style='color:red;font-weight:bold') #{serverMsg.message}
                        else
                            label(style='color:#007bff;font-weight:bold') #{JSON.stringify(serverMsg)}
                        
                    .input-group.mb-3
                        .input-group-prepend
                            span.input-group-text Code                               
                        input(name='userId' type='text' class='form-control' placeholder='Code')
                    .input-group.mb-3
                        .input-group-prepend
                            span.input-group-text Batch                                
                        input(name='unitPrice' type='number' class='form-control' placeholder='Batch')
                    .input-group.mb-3
                        .input-group-prepend
                            span.input-group-text Birthday                               
                        input(name='quantity' type='number' class='form-control' placeholder='Birthday')
                    .input-group.mb-3
                        .input-group-prepend
                            span.input-group-text City                                
                        input(name='currency' type='text' class='form-control' placeholder='City' )
                    .input-group.mb-3
                        .input-group-prepend
                            span.input-group-text Status                                
                        input(name='currency' type='text' class='form-control' placeholder='Status' )
                                         
                    input(type='hidden' value=csrf name='_csrf')
                    input(type='submit' class='btn btn-primary' value='Enviar')
                        
        
        

        
            
                            